Data/CRSP_fund.xlsx
Data/LSEG_fund.dta
Data/LSEG_earnings.xlsx
Data/CRSP_WFICN.xlsx
Data/FUNDO_WFICN.dta
Data/daily_stock.dta
Data/passive_21.csv
Data/master_data_es.csv
Data/master_data_pj.csv
Data/fundamentals.dta
Data/master_data_iv.csv
Data/master_data_es_controls.csv
Data/master_data_pj_controls.csv
Data/master_data_iv_controls.csv